<div class="col-12">
    <div class="card">
        <div class="card-header flex flex-wrap justify-end">
            <h2 class="card-title w-full"><%- module %></h2>

            <div class="clearfix"></div>

<!--            <div class="button-action">-->
<!--                <form action="/refreshToken" method="post">-->
<!--                    <button class="btn btn-outline-danger" type="submit">Refresh token</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="button-action">-->
<!--                <form action="/logout" method="post">-->
<!--                    <button class="btn btn-outline-danger" type="submit">Logout</button>-->
<!--                </form>-->
<!--            </div>-->

            <div class="clearfix"></div>
        </div>
        <div class="card-header flex flex-wrap">
            <div id="play_zone" style="width: 500px; height: 500px">

            </div>
            <div class="clearfix"></div>
            <%- data.content['banner'] %>
            <div class="clearfix"></div>
            <%- data.content['new-release'] %>
            <div class="clearfix"></div>
            <%- data.content['playlist_hEditorTheme'] %>
            <div class="clearfix"></div>
            <%- data.content['playlist_hEditorTheme3'] %>
            <div class="clearfix"></div>
            <%- data.content['playlist_hSeasonTheme'] %>
            <div class="clearfix"></div>
            <%- data.content['playlist_h100'] %>
            <div class="clearfix"></div>
            <%- data.content['playlist_hAlbum'] %>
            <div class="clearfix"></div>
            <%- data.content['livestream'] %>
            <div class="clearfix"></div>
        </div>
        <div>
            <div class="card-body">
                <table class="table table-hover table-bordered" id="<%- data.module %>_tbl" style="width:100%">
                    <thead></thead>
                    <tfoot>
                    <tr>

                    </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/<%- module %>/script.js"></script>
